# API Keys
KUDOSI_API_URL=https://priv.go.alireviews.dev
KUDOSI_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2tkcy12ZXItYmV0YS0wMDMtaC5teXNob3BpZnkuY29tL2FkbWluIiwiZGVzdCI6Imh0dHBzOi8va2RzLXZlci1iZXRhLTAwMy1oLm15c2hvcGlmeS5jb20iLCJhdWQiOiIzZGViOThkMGYzZWE1OTc2MmNmZmFiNmFlMTBiMmNlMiIsInN1YiI6IjEwOTI2MjYwMjU1NCIsImV4cCI6MTg0MDA0NTg1NCwibmJmIjoxNzQwMDQ1Nzk0LCJpYXQiOjE3NDAwNDU3OTQsImp0aSI6IjlhNDY2ZDIxLTZhYTgtNGE4Yi04MzFmLTJmODFmZjUzYTAwNyIsInNpZCI6IjZkY2FjOTkwLTk3NjgtNGVjNS04OTk1LWVhOGYxNTAwMjU5MCIsInNpZyI6ImFmYzRhZjAxOTg2ZTU5MzM3ODljYWMzNDUxN2FjYmM4MTYyNjM3ZjNjZDkwODhjM2I1N2Y5ZTQ1OGM3OTg2NDMifQ.kcjLGB6WRlaLWlCU1xAIcPet-NaL0v-5JWdJ4XlLGFI
